{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi tienda</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'yaa.js' %}"></script>
  </head>
  <body onload="main();">
    {% load static %}
    <p id="title"><i class='fas fa-backward'></i> TIENDALANDIA <i class='fas fa-forward'></i><p>
    <div  style="text-align:center">
      <p id="name">Bienvenido {{user}}</p>
      <button type="button" ><img class= "carrito" id="cesta" src="{% static "carrito.png" %}" alt="Carro"
          width="50px" height="44px"></button>
    </div>
    <p id="name"> Selecione producto:  </p>
    <img src="/static/logo.jpg" alt="NOPE" id="logo">
    <div style="text-align:center">
      <button class="button" type="button">Click me</button>
      <button class ="button" type="button" onclick="window.location.href='/prod1.html'">Click Me: Camisetas !</button>
      <button class ="button" type="button" onclick="window.location.href='/prod2.html'">Click Me: Calcetines !</button>
    </div>
  </body>
</html>
