{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi tienda</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'yaa.js' %}"></script>
  </head>
  <body onload="main();">
    {% load static %}
    <p id="title"><i class='fas fa-backward'></i> TIENDALANDIA <i class='fas fa-forward'></i><p>
    <div  style="text-align:center">
      <p id="name">Bienvenid@ {{user}}</p>

      <form method = "POST" action = "/home/alumnos/ivega/2018-19-LTAW-practicas/Practica-2/develop/my_project/db.sqlite3">
      <i class="fa fa-search"></i>
      <input type="text" name="buscar" size="20">
      <input type="submit" value="Buscar"><br></br>
    </div>

    <div style="text-align:center">
      <button class ="button" type="button" onclick="window.location.href='/camisetas'">Click Me: Camisetas !</button>
      <button class ="button" type="button" onclick="window.location.href='/calcetines'">Click Me: Calcetines !</button><br></br>
    </div>
    <img aling="middle" src="/static/spacejam.jpg" alt="NOP" id="logo">

  </body>
</html>
