<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Tienda Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/tienda.css">
    <link rel="icon" type="image/png" href="static/icon1.png">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="static/client-2.js"></script>
</head>

<body onload="buscar()">
<header>
  <b id="title"><i class='fas fa-backward'></i> TIENDALANDIA <i class='fas fa-forward'></i></b>
  <i id="user">Bienvenid@ #{user} !</i>
</header>
  <!-- <button class ="button" type="button" onclick="document.cookie='a=b'">Prueba</button> -->
  <section id="main">
    <p id="name"> Selecione producto:  </p>
    <div class="content">
      <button class ="button" id="ingreso" type="button" onclick="window.location.href='/ingreso'">Inicio Sesion</button>
      <button class ="button" id="boton" type="button" onclick="window.location.href='/camisetas'" data-toggle="tooltip" title="Click me!">Camisetas !</button>
      <button class ="button" id="boton" type="button" onclick="window.location.href='/calcetines'" data-toggle="tooltip" title="Click me!">Calcetines !</button>
      <button class="button" type="button" id= "carrito" onclick="carrito()" ><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></button>
    </div>
    <br></br>
    <!-- Buscador -->
    <form id="buscador" action="/search" method="POST">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="text" list="busc" type="text" name='search' id="key" placeholder="¿Que quieres?">
      <input class="button" type="submit" name="submit" value="buscar">
      <datalist id="busc"></datalist>
    </form>
    <iframe width="640" height="316" src="https://www.youtube.com/embed/EYEHUOpwNvE?autoplay=1&loop=1" allow=" autoplay;" allowfullscreen></iframe></br>
  </section>
</body>
</html>
