@font-face{
    font-family: Letter;
    src: url("letter.ttf");
}
p#name{color:  #20a496;
     margin: 70px;
     font-family: Letter;
     font-weight: bolder;
     font-size: 160%;}
p#title{color: #8B08B;
      margin: 700px;
      font-family: Letter;
      font-weight: bolder;
      font-size: 160%;}
.Letra{align="center"}
body {
  background-color:  #936f80 ;
}
